<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoListApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">ToDo List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Tasks")">Задачи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Create", "Tasks")">Создать задачу</a>
                        </li>

                        <li class="nav-item">
                            <span class="navbar-text">
                                Привет, @User.Identity.Name
                            </span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Account")">Выйти</a>
                        </li>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Account")">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Register", "Account")">Зарегистрироваться</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>


    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-light mt-auto py-3">
        <div class="container text-center">
            &copy; 2024 - ToDoListApp
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
